mkdocs
mkdocstrings
mkdocs-jupyter
mkdocs-redirects
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-rss-plugin
mkdocs-typedoc
mkdocs-exclude-search
markdown-include
markdown-callouts
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pymdown-extensions>=10.16.1 # not directly required, pinned by Snyk to avoid a vulnerability
